// Breakpoints
$breakpoint-sm: 480px;
$breakpoint-md: 700px;
$breakpoint-lg: 1024px;

// Colors

$color-primary: #0032fd;
$color-secondary: #1d242d;
$color-disabled: #6967c8;
$color-hover: #052295;
$bg-color: #15191e;
$text-color: #b3aca9;
$color-border: #dbdbdb;
$white: #fff;
$black: #000;

// Font size

$p-font-size-mobile: 15px;
$p-font-size-small: 16px;
$p-font-size-medium: 17px;
$p-font-size-large: 19px;

$h1-font-size-mobile: 28px;
$h1-font-size-small: 31px;
$h1-font-size-medium: 33px;
$h1-font-size-large: 36px;
